[submodule "external/structural-probes"]
	path = external/structural_probes
	url = https://github.com/john-hewitt/structural-probes.git
[submodule "depprobe"]
	path = depprobe
	url = https://github.com/personads/depprobe.git
